<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"><title>Recuperação de Senha de {{ domain }}</title></head>
<body>
  <p>Alguém solicitou em {{ protocol }}://{{ domain }} a redefinição da senha da conta {{ user }} ({{ email }})</p>
  <p>Abra o link a seguir e escolha uma nova senha:</p>
  {% url 'password_reset_confirm' uidb64=uid token=token as link %}
  <p><a href="{{ protocol }}://{{ domain }}{{ link }}">{{ protocol }}://{{ domain }}{{ link }}</a></p>
  <p>Seu usuário: <b>{{ user }}</b></p>
  <p>Equipe {{ domain }}</p>
</body>
</html>
